.dropdown-menu {
  margin: 0.468rem 0 0;
}

a.dropdown-item:hover {
  color: #F98251;
  background-color: #fff;
}

.bg-white {
  background-color: #fff;
}

#profileWrapper {
  width: 40px;
  height: 40px;
}

#profileContainer {
  width: 100%;
  padding-bottom: 100%;
  background-image: url('../../assets/img/brian-cruz.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-secondary-gray {
  color: #B4B4B4;
}

#bg-yintly-inner-nav {
  background-color: #ffffff;
}

.border-bottom-design a {
  border-bottom: 1px solid #EDEFED;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-bottom-design a:last-child {
  border-bottom: none;
}

.border-bottom-design-devider {
  border-bottom: 2px solid #DF622E !important;
}

.w-200px {
  width: 200px !important;
}

.w-300px {
  width: 300px !important;
}

.text-wrap {
  white-space: normal !important;
}

.notification-profile-image {
  width: 40px;
  height: 40px;
}

